body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
}

a {
  /* bo gach chan the  */
  text-decoration: none;
}

.logo {
  display: flex;
  justify-content: center;
}

.logo-img {
  width: 200px;
  /* text-align: center; */
}

.menu-list {
  list-style: none;
  font-size: 22px;
  display: flex;
  gap: 24px;
  justify-content: center;
}
