body {
  /* font-family: "Roboto", sans-serif; */
  font-family: "Montserrat", sans-serif;
}

/* Selector the HTML : style cho toan the HTML */
h3 {
  color: green;
  font-size: 14px;
  /* 1rem  */
  /* 1em */
  /* 100% */
  /* vh */
  /* vw */
  font-weight: bold;
}

/* .ten_class : style class*/
.intro {
  color: blueviolet;
}

/* #ten_id: style id (id duy nhat) */
#address {
  color: red;
}

.from {
  color: blue !important;
}

.description {
  text-align: left;
}

.heading {
  text-align: center;
}
