h3 {
color:rgb(0, 69, 99);
}
.idk {
    border: 5px solid red;
    width:180px;
    color:blueviolet;
    font-size: 200%;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    border: 5px solid rgb(125, 226, 239);
    width:150px;
}
#name {
    color:darkblue ;
}
.tim {
    color:red !important;
}
.tim2 {
    color:orangered;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: left;
}