.img{
    display: flex;
    justify-content: center;
}
h1 {
    font-size: 300%;
    color:orangered;
    text-align: center;
}
.h1 {
    display:flex;
    font-family: 'Times New Roman', Times, serif;
}