* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  position: relative;
}

:root {
  --primary-color: #ccbdff;
  --secondary-color: #7069bc;
  --light-color: #f4f4f6;
  --bg-color: rgb(244, 241, 255);
  --dark-color: #2e2a39;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--dark-color);
  font-size: 14px;
}
a:hover {
  text-decoration: underline;
  color: var(--primary-color);
}
img {
  max-width: 100%;
  object-fit: cover;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
.top-header {
  background-color: var(--primary-color);
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
  font-weight: 500;
}
.top-middle {
  background-color: var(--dark-color);
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  color: var(--light-color);
  font-weight: 500;
}
/* Menu */
.menu {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-top: 10px;
}
.logo {
  width: 110px;
  height: 40px;
}
.menu-list {
  display: flex;
  gap: 10px;
}
.menu-link.active {
  background-color: var(--secondary-color);
  color: var(--light-color);
  font-weight: 600;
  padding: 6px 12px;
  border-radius: 4px;
}

/* Hero */
.hero {
  padding: 30px 0;
  display: flex;
}
.hero-left {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 0 60px;
  min-width: 50%;
  display: flex;
  justify-content: center;
}
.hero-content {
  max-width: 348px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-direction: column;
}
.hero-btn {
  width: max-content;
  background-color: var(--light-color);
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: 600;
}
.hero-note {
  font-size: 14px;
  text-transform: uppercase;
  color: var(--light-color);
}
.hero-img {
  max-height: 484px;
  width: 100%;
}
/* Feature */
.feature {
  padding-bottom: 20px;
}
.feature-title,
.customer-title {
  font-size: 30px;
  text-align: center;
  font-weight: 500;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 20px 0;
}
.feature-item {
  background-color: var(--bg-color);
  padding: 20px;
  display: flex;
  flex-direction: column;
  width: 272px;
  height: 252px;
  border-radius: 20px;
  justify-content: space-around;
  align-items: center;
}
.feature-img {
  width: 136px;
  height: 136px;
}
.feature-text {
  text-align: center;
  font-size: 18px;
  font-weight: 500;
}
/* Customer */
.customer {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}
.customer-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}
.customer-item {
  max-width: 320px;
  text-align: center;
  display: flex;
  gap: 10px;
  flex-direction: column;
}
.customer-heading {
  font-size: 22px;
}
.customer-btn {
  width: max-content;
  background-color: var(--primary-color);
  color: var(--light-color);
  font-weight: 600;
  font-size: 18;
  border: none;
  padding: 12px 30px;
  border-radius: 6px;
}
/* Product */
.product {
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 32px 0;
}
.product-title {
  font-size: 50px;
  font-weight: 600;
  padding-bottom: 10px;
}
.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.product-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.product-img {
  width: 272px;
  height: 272px;
  border-radius: 10px;
}
.product-review {
  display: flex;
  align-items: center;
  gap: 10px;
}
.product-name {
  font-size: 18px;
  font-weight: 500;
}
.price {
  display: flex;
  align-items: center;
  gap: 8px;
}
.product-price {
  font-size: 14px;
  text-decoration: line-through;
}
.sale-price {
  font-size: 18px;
}

/* Future */
.future {
  display: flex;
  gap: 30px;
  padding: 32px 0;
}
.future-img {
  min-width: 50%;
  max-height: 664px;
}
.future-content {
  max-width: 50%;
}
.future-title {
  font-size: 32px;
  font-weight: 600;
}
.future-item {
  display: flex;
  gap: 40px;
  padding: 10px;
}
.future-number {
  font-size: 24px;
  font-weight: 600;
  color: var(--secondary-color);
}
.future-text {
  font-size: 18px;
}
.future-note {
  font-size: 12px;
  padding: 20px 0;
}
.btn-buy,
.footer-btn {
  padding: 12px 36px;
  background-color: var(--secondary-color);
  color: var(--light-color);
  text-transform: uppercase;
  border: none;
  border-radius: 6px;
  font-weight: 500;
  font-size: 18px;
}
.btn-img {
  width: 22px;
}
/* Review */
.review {
  text-align: center;
  padding: 40px 0;
  background: radial-gradient(rgb(161, 140, 209) 23%, rgb(251, 194, 235) 97%);
}
.review-content {
  max-width: 800px;
  margin: 0 auto;
  font-size: 30px;
  color: var(--light-color);
  font-weight: 500;
  padding-bottom: 30px;
}
.review-name {
  color: var(--light-color);
}

/* Risk */
.risk {
  padding: 32px 0;
}
.risk-title {
  font-size: 30px;
  font-size: 500;
  padding-bottom: 20px;
  text-align: center;
}
.risk-list {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.risk-item {
  display: flex;
  gap: 10px;
  flex-direction: column;
  align-items: center;
  max-width: 280px;
}
.risk-img {
  width: 104px;
  height: 130px;
}
.risk-heading {
  font-size: 22px;
  color: var(--dark-color);
}
.risk-text {
  text-align: center;
}
/* Subscribe */
.subscribe {
  background-color: var(--dark-color);
  padding: 32px 0;
}
.subscribe-content {
  display: flex;
  gap: 20px;
  flex-direction: column;
  color: var(--light-color);
  text-align: center;
}
.subscribe-title {
  font-size: 50px;
  font-weight: 500;
}
.subscribe-input {
  padding: 10px;
  border-color: var(--light-color);
  background-color: var(--dark-color);
  color: var(--light-color);
  font-size: 16px;
  width: 394px;
  border-radius: 6px;
}
.subscribe-input::placeholder {
  color: var(--light-color);
}

/* Footer */
footer {
  background-color: var(--dark-color);
  padding: 32px 0;
  color: var(--light-color);
}
.footer-logo {
  height: 74px;
}
.footer {
  display: flex;
  justify-content: space-between;
  padding-bottom: 32px;
}
.check-heading {
  font-size: 22px;
  font-weight: 500;
  padding-bottom: 10px;
}
.check-list {
  display: flex;
  gap: 10px;
  flex-direction: column;
  max-width: 226px;
}
.check-link {
  color: var(--light-color);
}
.copy-right {
  text-align: center;
}
.footer-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
