/* Reset CSS */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/* Xoa gach chan lien ket */
a {
  text-decoration: none;
}

ul {
  list-style: none;
}

/* Flexbox:  display: flex */
/* CSS Header */
header {
  padding-bottom: 72px;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 88px;
}

.logo {
  width: 123px;
  height: 32px;
}
.menu-list {
  display: flex;
  gap: 40px;
}

.menu-link {
  color: #131316;
  font-size: 16px;
  font-weight: 500;
  line-height: 150%;
}

.btn-login {
  padding: 12px 24px;
  border-radius: 12px;
  background-color: #f5f5f5;
}

/* Hero */

.container {
  max-width: 1248px;
  margin: 0 auto;
}

.hero {
  background-image: url("./images/hero-bg.png");
  background-repeat: no-repeat;
  background-position: center bottom;
  height: 650px;
}

.title {
  color: #131316;
  font-size: 64px;
  font-weight: 600;
  padding-bottom: 24px;
  max-width: 824px;
  line-height: 110%;
}

.desc {
  color: #131316;
  font-size: 20px;
  font-weight: 400;
  padding-bottom: 40px;
  max-width: 611px;
  
}

.btn-group {
  display: flex;
  gap: 16px;
}

.btn {
  padding: 16px 32px;
  border-radius: 16px;
  border: none;
  font-size: 18px;
  font-weight: 500;
}

.btn-get {
  background-color: #4891ff;
  color: #fff;
}

.btn-book {
  background-color: #f5f5f5;
  color: #131316;
}
